version: "3.8"

networks:
  default:

services:
  mysql-db:
    container_name: mysql-db
    image: mysql:5.7
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQLDB_PASSWORD}
    ports:
      - ${MYSQLDB_LOCAL_PORT}:${MYSQLDB_DOCKER_PORT}
    volumes:
      - mysql-volume:/var/lib/mysql:rw
      - ./mysql-db:/docker-entrypoint-initdb.d/
      - ./mysql-config:/etc/mysql/conf.d
    networks:
      - default

  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    ports:
      - ${PHPMYADMIN_LOCAL_PORT}:${PHPMYADMIN_DOCKER_PORT}
    environment:
      PMA_HOST: mysql-db
      PMA_PORT: 3306
      PMA_USER: ${MYSQLDB_USER}
      PMA_PASSWORD: ${MYSQLDB_PASSWORD}
    networks:
      - default

  nestjs-app:
    container_name: nestjs-app
    build: ./nestjs-app
    restart: unless-stopped
    env_file: .env
    ports:
      - ${NESTJS_APP_LOCAL_PORT}:${NESTJS_APP_DOCKER_PORT}
    environment:
      - DB_HOST=${MYSQLDB_HOST}
      - DB_USER=${MYSQLDB_USER}
      - DB_PASSWORD=${MYSQLDB_PASSWORD}
      - DB_DATABASE=${MYSQLDB_DATABASE}
      - DB_PORT=${MYSQLDB_DOCKER_PORT}
    stdin_open: true
    tty: true
    volumes:
      - ./nestjs-app:/app
      - nestjs-node-modules:/app/node_modules
    networks:
      - default
    depends_on:
      - mysql-db
      - redis

  redis:
    image: "redis:alpine"
    container_name: redis-server
    env_file: .env
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"

  vite-app:
    container_name: vite-app
    build:
      context: ./vite-app
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file: .env
    ports:
      - 8000:8000
    stdin_open: true
    tty: true
    volumes:
      - ./vite-app:/app
      - vite-node-modules:/app/node_modules
    networks:
      - default

volumes:
  mysql-volume:
  vite-node-modules:
  nestjs-node-modules: